body{
    background-color: whitesmoke;
}

/* 

Los estilos se recomiendan que se egreguen en orden de arriba hacia abajo

*/

h1 {
    color: brown;
}

h2 {color: yellowgreen;

}

/*  Clase */
.micolorPersonalizadoParaMiH2 {
    color: royalblue;
}

img {
   /*Haz las imagenes reducidas y agrega un efecto de que cuando ponga el mouse encima de un zoom*/
   width: 30%;
   heigth: auto;
   
}
img:hover {
    transform: scale(1.1);
}


